{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/register.ts') }} defer"></script>
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}

    <div id="regDiv">
        <h2 id="signupText">Sign up</h2>
        <form  method="post" id="regForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button id="registerBtn" type="submit">Register</button>

{#            <input type="submit" value="Register">#}
        </form>
    </div>

{% endblock %}
